body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#game-container {
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#result-message {
    font-size: 18px;
    margin-bottom: 20px;
}

#red-pill {
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 100px;

    width: 125px;
    height: 60px;
    margin: 10px 20px;
}

#blue-pill {
    background-color: blue;
    color: white;
    display: capsule;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 100px;
    width: 125px;
    height: 60px;
    margin: 10px 20px;
}

#openai-logo {
    max-width: 50%;
    display: none;
    margin-top: 20px;
    align-self: center;
    margin-left: 25%;

}

#replay-button {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    display: none;
    margin-top: 20px;
    margin-block-start: 10%;
    border-style: none;
    margin-left: 35%;
    /* Add a gap between the buttons */
}

#graffiti-message {
    display: none;
    color: red;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10%;
    position: relative;
    overflow-wrap: break-word;
}

@keyframes fireworks {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.firework {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: #212121;
    border-radius: 50%;
    animation: fireworks 3s ease-out;
    animation: fireworks 1.5s ease-in-out-infinite;
    transform-origin: center;
    margin-left: 5%
}
